extends layout

block content
    p admin page

    //- p#username logged in as : #{adm.username}
    div(id="showUser" style="cursor:pointer" ) show users
    div(id="hideUser" style="cursor:pointer" ) hide users
    div#registeredUser
        p Registered Users:
        table#user_table
            tr
                th username
                th firstname
                th lastname
                th email
                th age
                th gender
                th created date
                th
                th
            each u in allusers
                tr(id=`${u._id}`)
                    td=u.username
                    td=u.firstname
                    td=u.lastname
                    td=u.email
                    td=u.age
                    td=u.gender
                    td=u.createdAt
                    td
                        button(class="deleteUser")(uid = u._id) delete
                    td
                        button(class="openReply")(umail = u.email,uname=u.username)  reply
        div#sendmailTo
            p#mailIntro
            textarea(id="msg" rows = "5" cols="50")
            button(id="sendReply") send

    br
    div(id="showFeedback" style="cursor:pointer" ) show feedback
    div(id="hideFeedback" style="cursor:pointer" ) hide feedback
    div#userFeedback
        p User Feedback:
        table#user_feedback
            tr
                th username
                th message
                th sent date
            

    br
    a#logout(href='/user/logout') Logout

block script
    script(src="/js/main.js")
    
    script.


        var q = window.location.search.substring(1);
        if(q ==="stat=ok"){
            window.alert("Email sent!");
            window.location.replace("/profile");
        }
        






        $('#sendmailTo').hide();
        var uname = "";
        var email = "";
        var msg = "";
        $('.openReply').click(function(){
            uname = $(this).attr('uname');
            email = $(this).attr('umail');
            $('#sendmailTo').show();
            $('#mailIntro').html("Sending response to: " + uname);
            $('#msg').html("Dear user: " + uname + ',');
            
        })
        $('#sendReply').click(function(){
            console.log(uname);
            console.log(email);
            msg = ($('#msg').val());
            console.log(msg);
            window.location.replace('/profile/send/'+uname+'/'+email+'/'+msg);
        })
        
        
        $('.deleteUser').click(function(e){
            const uid = $(this).attr('uid');
            $.ajax({
                type:'POST',
                url:'/user/delete',
                data:{uid},
                success:function(res){
                    if(res.result === 'success'){
                        window.alert("deleted!");
                        //- console.log(tid);
                        
                        $('#' +uid).remove();
                        
                        
                    }
                }
            })
        })