extends layout

block content
    if (x)
        
        p#username logged in as : #{x.username}   
        p#firstname first name : #{x.firstname}   
        p#lastname last name : #{x.lastname}   
        p#email email : #{x.email}   
        p#age age : #{x.age}   
        p#height height : #{x.height} cm
        p#weight weight : #{x.weight} kg  
        p#gender gender : #{x.gender}   



        a#edit(href='/profile/edit') EDIT PROFILE
        br
    br
    p#suggestion by info, the number of calories for you is : #{result} per day.
    
    p(class="intake-input") What did you eat today?
    div#dailyResult
    div#dailyTotal

    table#result_table
        tr
            th user
            th calory
            th createdAt
            th
        each calory in calories
            tr(id=`${calory._id}`)
                td=calory.user
                td=calory.calory
                td=calory.createdAt
                td
                    button(class="deleteTotal")(tid = calory._id) delete
    div#showTable show table
    div#hideTable hide table




    input(id = "forTotal", style = "visibility:hidden")
    div#input_form
        select(name="ds",class="input-ds" id = "ds")
            option(value="ads" selected="selected") From All Data Source
            option(value="Standard Reference") Standard Reference
            option(value="Branded Food Products") Branded Food Products
        input(id="intakeInputBox")
        span
            button#intake-search search
        span
            button#intake-submit submit


    div#searchResult
    br
    br
    br
    a#gochat(href='/chat') Chat
    br
    br
    a#logout(href='/user/logout') Logout

block script
    
    //- script(src="http://code.jquery.com/jquery-latest.js")
    //- script(src="https://code.jquery.com/jquery-1.11.1.js")
    script(src="/scripts/socket.io-client/dist/socket.io.js")
    
    script(src="/js/main.js")
    
    script.
        const socket = io();
        
        const user = !{JSON.stringify(x)};//javascript 拿server pass过来的information
        //console.log(user);
        


        $('#intake-submit').click(function(e) {

            socket.emit('daily calory', { calory: $('#forTotal').val(), user: user.username });
            window.alert("saved to database!");
            location.reload();
        })

        $('.deleteTotal').click(function(e){
            const tid = $(this).attr('tid');
            $.ajax({
                type:'POST',
                url:'/students/delete',
                data:{tid},
                success:function(res){
                    if(res.result === 'success'){
                        window.alert("deleted!");
                        //- console.log(tid);
                        
                        $('#' +tid).remove();
                        
                        
                    }
                }
            })
        })



        



